@use "../../styles/commonStylesMixins.scss" as *;

.about {
  @include flexSettings(row, space-around, center);
  @include sectionLayout(80px 25px, var(--background-two));
  height: 100%;

  &-left {
    flex: 0 0 50%;

    &-head {
      letter-spacing: 1px;
      font-size: 42px;
      margin-bottom: 20px;
      color: #9c27b0;
      font-weight: 700;
    }

    &-tagline {
      font-size: 22px;
      margin-bottom: 30px;
      color: var(--text-color-two);
      font-weight: 500;
      font-style: italic;
      letter-spacing: 0.3px;
    }

    &-text {
      font-size: 22px;
      color: var(--text-color-two);
    }

    &-socialMedia {
      margin-top: 40px;

      img {
        @include imageSize(40px, 40px, contain);
        margin-right: 15px;
        cursor: pointer;
      }
    }

    // starme styles removed
  }

  &-right {
    flex: 0 0;

    &-profilePic {
      @include borderWithRadius(1px solid transparent, 50% 10%);
      margin: 20px;
      height: 320px;
      width: 320px;
      background-clip: content-box, border-box;
      background-size: cover;
      background-image:
        url("/assets/profilePic.webp"),
        linear-gradient(to bottom left, var(--about-profilepic-one), var(--about-profilepic-two));
      background-repeat: no-repeat;
      padding: 12px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    height: 100%;

    &-left {
      &-head {
        font-size: 28px;
      }

      &-tagline {
        font-size: 20px;
      }

      &-text {
        font-size: 18px;
      }
    }

    &-right {
      &-profilePic {
        height: 250px;
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column-reverse;
    padding: 50px 25px;

    &-left {
      text-align: center;

      &-head {
        font-size: 24px;
      }

      &-tagline {
        font-size: 18px;
      }

      &-text {
        font-size: 16px;
      }

      // starme responsive styles removed
    }
  }
}

@media only screen and (max-width: 400px) {
  .about {
    &-right {
      &-profilePic {
        height: 200px;
        width: 200px;
      }
    }
  }
}
